.cadastro-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #0d0d0d, #1a1a1a, #111133);
  color: #fff;
  font-family: "Orbitron", sans-serif;
}

.cadastro-lado-esquerdo {
  width: 45%;
  background: radial-gradient(circle at top, #001a33, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  border-right: 2px solid #00eaff70;

  h1 {
    font-size: 2.6rem;
    text-shadow: 0 0 25px #00eaff, 0 0 15px #005eff;
  }
}

.cadastro-lado-direito {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    text-shadow: 0 0 20px #ff0095;
  }
}

.cadastro-formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;

  label {
    font-size: 1.1rem;
    margin-top: 10px;
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff80;
    display: block;
  margin-left: 140px;
  }

  input {
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #00eaff60;
  background: #0d0d1f;
  color: #fff;
  font-size: 1rem;
  width: 50%;
  transition: 0.3s;
  outline: none;
  display: block;
  margin: 0 auto;



    &:focus {
      border-color: #00eaff;
      box-shadow: 0 0 15px #00eaff;
    }
  }

  button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ff0095;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    display: block;
    margin-left: 190px;
  margin: 10 auto;
    box-shadow: 0 0 15px #ff009570;

    &:hover {
      background: #ff33b8;
      box-shadow: 0 0 20px #ff33dd, 0 0 25px #ff0095;
      transform: scale(1.05);
    }
  }
}

.cadastro-login {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;

  a {
    color: #00eaff;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-shadow: 0 0 10px #00eaff;

    &:hover {
      color: #62ffff;
      text-shadow: 0 0 20px #62ffff;
    }
  }
}

@media (max-width: 900px) {
  .cadastro-container {
    flex-direction: column;
  }

  .cadastro-lado-esquerdo,
  .cadastro-lado-direito {
    width: 100%;
    padding: 30px;
  }
}
